.wrapper {
    min-height: 18rem;
    height: auto;
    width: 100%;
    display: flex;
    padding: 1.5rem 0;
}

.leftPortion {
    width: 40%;
    margin: 0 0.5rem 0 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.leftPortion>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0 1.5rem 0 0;
}

.rightPortion {
    width: 60%;
    border-radius: 10px;
}

.linkHeading {
    font-size: 130%;
    font-weight: 500;
    margin: 0.5rem 0;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.li {
    margin-right: 2rem;
    list-style: none;
}