@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Wrapper Component */
  --default-backgroundMain: #000;
  --default-colorMain: rgba(255, 255, 255, 1);
  --default-backgroundWallpaper: linear-gradient(270deg, #000000 0%, #093e4c 50%, #1a1a1c 100%);

  /* --default-backgroundWallpaper: repeating-linear-gradient(45deg, #ff7e5f, #ff7e5f 10px, #feb47b 10px, #feb47b 20px) center / cover no-repeat fixed; */
  /* url("https://images.unsplash.com/photo-1715273157640-b0c2a2bec178?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTcxMTA4MTF8&ixlib=rb-4.0.3&q=85") center / cover no-repeat fixed; */
  --default-filterWallpaper: blur(2rem);

  /* Hero Component */
  --default-backgroundImageName: linear-gradient(90deg, rgba(34, 122, 255, 1) 0%, rgba(40, 201, 250, 1) 38%, rgba(14, 137, 219, 1) 75%);

  /* Main Button Component */
  --defalut-backgroundButton: black;
  --deafult-borderButton: 2px solid #1A9FEA;
  --default-box-shadowButton: 0px 0px 0px 0px white;
  --default-colorButton: white;
  --default-paddingButton: 0.5rem 1rem;
  --default-marginButton: 1rem 1rem 0 0;
  --default-borderRadiusButton: 0;
  --default-textDecorationButton: none;
  --default-transitionButton: all 0.5s ease-in-out;
  --defalut-backgroundButtonHover: #1A9FEA;
  --deafult-borderButtonHover: 2px solid #1A9FEA;
  --default-box-shadowButtonHover: none;
  --default-colorButtonHover: black;
  --default-paddingButtonHover: 0.5rem 1rem;
  --default-marginButtonHover: 1rem 1rem 0 0;
  --default-borderRadiusButtonHover: 0;
  --default-textDecorationButtonHover: none;
  --default-transitionButtonHover: all 0.5s ease-in-out;

  /* Project Card Component */
  --defalut-backgroundProjectCard: transparent;
  --deafult-borderProjectCard: 1px solid rgba(255, 255, 255, 0.5);
  --default-box-shadowProjectCard: 0px 0px 0px 0px white;
  --default-colorProjectCard: white;
  --default-borderRadiusProjectCard: 10px;
  --default-textDecorationProjectCard: none;
  --default-transitionProjectCard: all 0.5s ease-in-out;
  --defalut-backgroundProjectCardHover: white;
  --deafult-borderProjectCardHover: 1px solid rgba(255, 255, 255, 1);
  --default-box-shadowProjectCardHover: 0px 0px 0px 0px white;
  --default-colorProjectCardHover: black;
  --default-borderRadiusProjectCardHover: 10px;
  --default-textDecorationProjectCardHover: none;
  --default-transitionProjectCardHover: all 0.5s ease-in-out;

  /* Blog Card Component */
  --defalut-backgroundBlogCard: transparent;
  --deafult-borderBlogCard: 1px solid rgba(255, 255, 255, 0.5);
  --default-box-shadowBlogCard: 0px 0px 0px 0px white;
  --default-colorBlogCard: white;
  --default-borderRadiusBlogCard: 10px;
  --default-textDecorationBlogCard: none;
  --default-transitionBlogCard: all 0.5s ease-in-out;
  --defalut-backgroundBlogCardHover: white;
  --deafult-borderBlogCardHover: 1px solid rgba(255, 255, 255, 1);
  --default-box-shadowBlogCardHover: 0px 0px 0px 0px white;
  --default-colorBlogCardHover: black;
  --default-borderRadiusBlogCardHover: 10px;
  --default-textDecorationBlogCardHover: none;
  --default-transitionBlogCardHover: all 0.5s ease-in-out;

  /* Anchor Tag */
  /* --default-link-border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  --default-link-border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  /* --default-link-background-color: white; */
  --default-link-background-color: black;

  --grayed-text-color: #9C9C9C
}

/* paragraph line height */
p {
  line-height: 1.75;
}

/* links underline animation */
a {
  text-decoration: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
}

a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  /* background-color: #1A9FEA; */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

a:hover::after {
  transform: scaleX(1);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */