.main {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid black;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 125%;
    font-weight: 500;
}

.version {
    color: var(--grayed-text-color);
    margin-left: 0.5rem;
    font-size: 50%;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.li {
    margin-left: 2rem;
    list-style: none;
}

.select {
    margin-left: 2rem;
    background: none;
}

@media (max-width: 575px) {
    .logo {
        display: none;
    }

    .ul {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }

    .li {
        margin-left: 0rem;
        margin-right: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .logo {
        display: none;
    }

    .ul {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
    }

    .li {
        margin-left: 0rem;
        margin-right: 2rem;
    }
}